.caesar-tools {
    text-align: center;
}

.caesar-tools__title {
    margin: 0;
    margin-bottom: 0.5rem;
}

.caesar-tools__subtitle {
    margin: 0;
    margin-bottom: 2rem;
}

.caesar-tools__card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Tablet */
@media (max-width: 768px) {
    .caesar-tools__card-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }
}

